<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= locals.title %> | Guestbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
  </head>
  <body>
    <span id="backToTop">&nbsp;</span>
    <header class="fixed-top">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
        </ol>
      </nav>
    </header>
    <section class="container">
      <% if (locals.flash) { %>
        <% locals.flash.forEach((currentValue) => { %>
        <div class="alert alert-<%= currentValue.type %>" role="alert">
          <%= currentValue.content %>
        </div>
        <% }) %>
      <% } %>
    </section>
    <main class="container">
      <%- include(locals.view) %>
    </main>
    <footer class="fixed-bottom nav justify-content-end">
      <a href="#backToTop" class="btn btn-dark back-to-top" title="<%= 'Back to top' %>">⇧</a>
    </footer>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
  </body>
</html>
