<div>
  <a href="/message/<%= message.mid %>">Message <%= message.mid %> - <%= message.displayCreated %> - <%= message.displayFromNow %></a>
  <br>
  <p><%= message.content %></p>
  <a href="/message/<%= message.mid %>/update" class="btn btn-success">Update</a>
  <a href="/message/<%= message.mid %>/delete" class="btn btn-danger">Delete</a>
</div>
